$DOMAIN {
	log $PROJECT_NAME # Enable Caddy access logs (for goaccess)
	route {
		# Serve clipboard contents from data if exists
		root /root/$PROJECT_NAME/server/data
		file_server
		# Server route from server otherwise
		reverse_proxy :$PORT
	}
}
